{
  "description": "Manipulates events and other calendar data.",
  "ownerName": "Google",
  "revision": "20260614",
  "servicePath": "calendar/v3/",
  "basePath": "/calendar/v3/",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/calendar/firstapp",
  "id": "calendar:v3",
  "name": "calendar",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version": "v3",
  "batchPath": "batch/calendar/v3",
  "rootUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events.freebusy": {
          "description": "See the availability on Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.acls.readonly": {
          "description": "See the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.freebusy": {
          "description": "View your availability in your calendars"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist": {
          "description": "See, add, and remove Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.events.owned.readonly": {
          "description": "See the events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.calendars": {
          "description": "See and change the properties of Google calendars you have access to, and create secondary calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.acls": {
          "description": "See and change the sharing permissions of Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.events.owned": {
          "description": "See, create, change, and delete events on Google calendars you own"
        },
        "https://www.googleapis.com/auth/calendar.app.created": {
          "description": "Make secondary Google calendars, and see, create, change, and delete events on them"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.calendars.readonly": {
          "description": "See the title, description, default time zone, and other properties of Google calendars you have access to"
        },
        "https://www.googleapis.com/auth/calendar.events.public.readonly": {
          "description": "See the events on public calendars"
        },
        "https://www.googleapis.com/auth/calendar.calendarlist.readonly": {
          "description": "See the list of Google calendars you’re subscribed to"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        }
      }
    }
  },
  "icons": {
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png",
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png"
  },
  "schemas": {
    "EntryPoint": {
      "id": "EntryPoint",
      "properties": {
        "password": {
          "type": "string",
          "description": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
        },
        "meetingCode": {
          "description": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "entryPointFeatures": {
          "description": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
        },
        "accessCode": {
          "description": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "label": {
          "description": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
        },
        "entryPointType": {
          "description": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference.",
          "type": "string"
        },
        "passcode": {
          "type": "string",
          "description": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
        }
      },
      "type": "object"
    },
    "EventAttendee": {
      "id": "EventAttendee",
      "properties": {
        "displayName": {
          "description": "The attendee's name, if available. Optional.",
          "type": "string"
        },
        "asyncOperation": {
          "type": "string",
          "description": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise.",
          "default": ""
        },
        "optional": {
          "description": "Whether this is an optional attendee. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "id": {
          "description": "The attendee's Profile ID, if available.",
          "type": "string"
        },
        "resource": {
          "description": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "comment": {
          "description": "The attendee's response comment. Optional.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
        },
        "organizer": {
          "type": "boolean",
          "description": "Whether the attendee is the organizer of the event. Read-only. The default is False."
        },
        "additionalGuests": {
          "description": "Number of additional guests. Optional. The default is 0.",
          "default": "0",
          "format": "int32",
          "type": "integer"
        },
        "responseStatus": {
          "type": "string",
          "description": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests."
        },
        "self": {
          "type": "boolean",
          "description": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False.",
          "default": "false"
        }
      },
      "type": "object"
    },
    "EventFocusTimeProperties": {
      "id": "EventFocusTimeProperties",
      "properties": {
        "autoDeclineMode": {
          "description": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined.",
          "type": "string"
        },
        "chatStatus": {
          "description": "The status to mark the user in Chat and related products. This can be available or doNotDisturb.",
          "type": "string"
        },
        "declineMessage": {
          "type": "string",
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
        }
      },
      "type": "object"
    },
    "EventAttachment": {
      "type": "object",
      "id": "EventAttachment",
      "properties": {
        "fileId": {
          "description": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API.",
          "type": "string"
        },
        "mimeType": {
          "description": "Internet media type (MIME type) of the attachment.",
          "type": "string"
        },
        "title": {
          "description": "Attachment title.",
          "type": "string"
        },
        "fileUrl": {
          "type": "string",
          "description": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
        },
        "iconLink": {
          "description": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments.",
          "type": "string"
        }
      }
    },
    "CalendarListEntry": {
      "id": "CalendarListEntry",
      "properties": {
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "description": {
          "description": "Description of the calendar. Optional. Read-only.",
          "type": "string"
        },
        "accessRole": {
          "type": "string",
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
        },
        "primary": {
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "deleted": {
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "default": "calendar#calendarListEntry"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendarList.insert"
            ]
          }
        },
        "notificationSettings": {
          "properties": {
            "notifications": {
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "CalendarNotification"
              },
              "type": "array"
            }
          },
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar."
        },
        "hidden": {
          "description": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true.",
          "default": "false",
          "type": "boolean"
        },
        "autoAcceptInvitations": {
          "type": "boolean",
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
        },
        "selected": {
          "type": "boolean",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "default": "false"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "defaultReminders": {
          "type": "array",
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "EventReminder"
          }
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "dataOwner": {
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only.",
          "type": "string"
        },
        "foregroundColor": {
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateConferenceRequest": {
      "type": "object",
      "id": "CreateConferenceRequest",
      "properties": {
        "requestId": {
          "description": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored.",
          "type": "string"
        },
        "status": {
          "$ref": "ConferenceRequestStatus",
          "description": "The status of the conference create request."
        },
        "conferenceSolutionKey": {
          "$ref": "ConferenceSolutionKey",
          "description": "The conference solution, such as Hangouts or Google Meet."
        }
      }
    },
    "EventOutOfOfficeProperties": {
      "id": "EventOutOfOfficeProperties",
      "properties": {
        "autoDeclineMode": {
          "description": "Whether to decline meeting invitations which overlap Out of office events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Out of office event is present are to be declined.",
          "type": "string"
        },
        "declineMessage": {
          "description": "Response message to set if an existing event or new invitation is automatically declined by Calendar.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Colors": {
      "id": "Colors",
      "properties": {
        "kind": {
          "description": "Type of the resource (\"calendar#colors\").",
          "default": "calendar#colors",
          "type": "string"
        },
        "updated": {
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "event": {
          "type": "object",
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "An event color definition."
          }
        },
        "calendar": {
          "type": "object",
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color definition."
          }
        }
      },
      "type": "object"
    },
    "LabelProperties": {
      "id": "LabelProperties",
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
          "default": "api#channel"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages.",
          "type": "string"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string",
            "description": "Declares a new parameter by name."
          },
          "type": "object"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        }
      },
      "type": "object"
    },
    "EventBirthdayProperties": {
      "id": "EventBirthdayProperties",
      "properties": {
        "contact": {
          "description": "Resource name of the contact this birthday event is linked to. This can be used to fetch contact details from People API. Format: \"people/c12345\". Read-only.",
          "type": "string"
        },
        "customTypeName": {
          "type": "string",
          "description": "Custom type label specified for this event. This is populated if birthdayProperties.type is set to \"custom\". Read-only."
        },
        "type": {
          "description": "Type of birthday or special event. Possible values are:  \n- \"anniversary\" - An anniversary other than birthday. Always has a contact. \n- \"birthday\" - A birthday event. This is the default value. \n- \"custom\" - A special date whose label is further specified in the customTypeName field. Always has a contact. \n- \"other\" - A special date which does not fall into the other categories, and does not have a custom label. Always has a contact. \n- \"self\" - Calendar owner's own birthday. Cannot have a contact.  The Calendar API only supports creating events with the type \"birthday\". The type cannot be changed after the event is created.",
          "default": "birthday",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FreeBusyRequest": {
      "type": "object",
      "id": "FreeBusyRequest",
      "properties": {
        "timeMax": {
          "type": "string",
          "description": "The end of the interval for the query formatted as per RFC3339.",
          "format": "date-time"
        },
        "groupExpansionMax": {
          "description": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100.",
          "format": "int32",
          "type": "integer"
        },
        "calendarExpansionMax": {
          "description": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50.",
          "format": "int32",
          "type": "integer"
        },
        "timeMin": {
          "description": "The start of the interval for the query formatted as per RFC3339.",
          "format": "date-time",
          "type": "string"
        },
        "timeZone": {
          "description": "Time zone used in the response. Optional. The default is UTC.",
          "default": "UTC",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of calendars and/or groups to query.",
          "items": {
            "$ref": "FreeBusyRequestItem"
          }
        }
      }
    },
    "Error": {
      "id": "Error",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
        },
        "domain": {
          "description": "Domain, or broad category, of the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FreeBusyResponse": {
      "type": "object",
      "id": "FreeBusyResponse",
      "properties": {
        "groups": {
          "type": "object",
          "description": "Expansion of groups.",
          "additionalProperties": {
            "$ref": "FreeBusyGroup",
            "description": "List of calendars that are members of this group."
          }
        },
        "kind": {
          "description": "Type of the resource (\"calendar#freeBusy\").",
          "default": "calendar#freeBusy",
          "type": "string"
        },
        "timeMax": {
          "description": "The end of the interval.",
          "format": "date-time",
          "type": "string"
        },
        "calendars": {
          "type": "object",
          "description": "List of free/busy information for calendars.",
          "additionalProperties": {
            "$ref": "FreeBusyCalendar",
            "description": "Free/busy expansions for a single calendar."
          }
        },
        "timeMin": {
          "type": "string",
          "description": "The start of the interval.",
          "format": "date-time"
        }
      }
    },
    "Event": {
      "id": "Event",
      "properties": {
        "sequence": {
          "type": "integer",
          "description": "Sequence number as per iCalendar.",
          "format": "int32"
        },
        "hangoutLink": {
          "description": "An absolute link to the Google Hangout associated with this event. Read-only.",
          "type": "string"
        },
        "iCalUID": {
          "type": "string",
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method.",
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          }
        },
        "reminders": {
          "description": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event.",
          "type": "object",
          "properties": {
            "overrides": {
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "items": {
                "$ref": "EventReminder"
              },
              "type": "array"
            },
            "useDefault": {
              "type": "boolean",
              "description": "Whether the default reminders of the calendar apply to the event."
            }
          }
        },
        "recurringEventId": {
          "type": "string",
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
        },
        "focusTimeProperties": {
          "$ref": "EventFocusTimeProperties",
          "description": "Focus Time event data. Used if eventType is focusTime."
        },
        "gadget": {
          "properties": {
            "height": {
              "type": "integer",
              "description": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated.",
              "format": "int32"
            },
            "width": {
              "type": "integer",
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
              "format": "int32"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
            },
            "preferences": {
              "type": "object",
              "description": "Preferences.",
              "additionalProperties": {
                "type": "string",
                "description": "The preference name and corresponding value."
              }
            },
            "title": {
              "type": "string",
              "description": "The gadget's title. Deprecated."
            },
            "type": {
              "type": "string",
              "description": "The gadget's type. Deprecated."
            },
            "link": {
              "description": "The gadget's URL. The URL scheme must be HTTPS. Deprecated.",
              "type": "string"
            },
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            }
          },
          "description": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata.",
          "type": "object"
        },
        "creator": {
          "description": "The creator of the event. Read-only.",
          "type": "object",
          "properties": {
            "id": {
              "description": "The creator's Profile ID, if available.",
              "type": "string"
            },
            "self": {
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false",
              "type": "boolean"
            },
            "email": {
              "description": "The creator's email address, if available.",
              "type": "string"
            },
            "displayName": {
              "description": "The creator's name, if available.",
              "type": "string"
            }
          }
        },
        "outOfOfficeProperties": {
          "$ref": "EventOutOfOfficeProperties",
          "description": "Out of office event data. Used if eventType is outOfOffice."
        },
        "transparency": {
          "type": "string",
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "default": "opaque"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "birthdayProperties": {
          "$ref": "EventBirthdayProperties",
          "description": "Birthday or special event data. Used if eventType is \"birthday\". Immutable."
        },
        "recurrence": {
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "end": {
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "status": {
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated.",
          "type": "string"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "guestsCanInviteOthers": {
          "type": "boolean",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "default": "true"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#event\").",
          "default": "calendar#event"
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "extendedProperties": {
          "description": "Extended properties of the event.",
          "type": "object",
          "properties": {
            "private": {
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              },
              "type": "object"
            },
            "shared": {
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "additionalProperties": {
                "description": "The name of the shared property and the corresponding value.",
                "type": "string"
              },
              "type": "object"
            }
          }
        },
        "source": {
          "type": "object",
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "properties": {
            "title": {
              "description": "Title of the source; for example a title of a web page or an email subject.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
              "type": "string"
            }
          }
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "organizer": {
          "properties": {
            "id": {
              "type": "string",
              "description": "The organizer's Profile ID, if available."
            },
            "self": {
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false",
              "type": "boolean"
            },
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "email": {
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322.",
              "type": "string"
            }
          },
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "type": "object"
        },
        "visibility": {
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.",
          "default": "default",
          "type": "string"
        },
        "attendeesOmitted": {
          "type": "boolean",
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "default": "false"
        },
        "location": {
          "description": "Geographic location of the event as free-form text. Optional.",
          "type": "string"
        },
        "originalStartTime": {
          "$ref": "EventDateTime",
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
        },
        "attachments": {
          "type": "array",
          "description": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,",
          "items": {
            "$ref": "EventAttachment"
          }
        },
        "created": {
          "type": "string",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "eventType": {
          "type": "string",
          "description": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event.",
          "default": "default"
        },
        "start": {
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          },
          "$ref": "EventDateTime"
        },
        "summary": {
          "type": "string",
          "description": "Title of the event."
        },
        "guestsCanSeeOtherGuests": {
          "type": "boolean",
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "default": "true"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only.",
          "format": "date-time"
        },
        "guestsCanModify": {
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "conferenceData": {
          "$ref": "ConferenceData",
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests. Warning: Reusing Google Meet conference data across different events can cause access issues and expose meeting details to unintended users. To help ensure meeting privacy, always generate a unique conference for each event by using the createRequest field."
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Can contain HTML. Optional."
        },
        "privateCopy": {
          "type": "boolean",
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
          "default": "false"
        },
        "workingLocationProperties": {
          "$ref": "EventWorkingLocationProperties",
          "description": "Working location event data."
        },
        "locked": {
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
          "default": "false",
          "type": "boolean"
        },
        "anyoneCanAddSelf": {
          "type": "boolean",
          "description": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False.",
          "default": "false"
        },
        "attendees": {
          "type": "array",
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list.",
          "items": {
            "$ref": "EventAttendee"
          }
        }
      },
      "type": "object"
    },
    "Settings": {
      "id": "Settings",
      "properties": {
        "etag": {
          "description": "Etag of the collection.",
          "type": "string"
        },
        "items": {
          "description": "List of user settings.",
          "items": {
            "$ref": "Setting"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#settings\").",
          "default": "calendar#settings"
        }
      },
      "type": "object"
    },
    "ConferenceParametersAddOnParameters": {
      "id": "ConferenceParametersAddOnParameters",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ConferenceData": {
      "id": "ConferenceData",
      "properties": {
        "createRequest": {
          "$ref": "CreateConferenceRequest",
          "description": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "conferenceSolution": {
          "$ref": "ConferenceSolution",
          "description": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
        },
        "notes": {
          "description": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional.",
          "type": "string"
        },
        "entryPoints": {
          "type": "array",
          "description": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required.",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "parameters": {
          "$ref": "ConferenceParameters",
          "description": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
        },
        "conferenceId": {
          "type": "string",
          "description": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
        },
        "signature": {
          "type": "string",
          "description": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
        }
      },
      "type": "object"
    },
    "Acl": {
      "id": "Acl",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "items": {
          "type": "array",
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "AclRule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FreeBusyRequestItem": {
      "id": "FreeBusyRequestItem",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of a calendar or a group."
        }
      },
      "type": "object"
    },
    "CalendarList": {
      "type": "object",
      "id": "CalendarList",
      "properties": {
        "kind": {
          "description": "Type of the collection (\"calendar#calendarList\").",
          "default": "calendar#calendarList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "items": {
          "type": "array",
          "description": "Calendars that are present on the user's calendar list.",
          "items": {
            "$ref": "CalendarListEntry"
          }
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      }
    },
    "EventReminder": {
      "type": "object",
      "id": "EventReminder",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
        },
        "minutes": {
          "type": "integer",
          "description": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder.",
          "format": "int32"
        }
      }
    },
    "FreeBusyGroup": {
      "id": "FreeBusyGroup",
      "properties": {
        "calendars": {
          "description": "List of calendars' identifiers within a group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errors": {
          "type": "array",
          "description": "Optional error(s) (if computation for the group failed).",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "type": "object"
    },
    "AclRule": {
      "type": "object",
      "id": "AclRule",
      "properties": {
        "scope": {
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
              "annotations": {
                "required": [
                  "calendar.acl.insert",
                  "calendar.acl.update"
                ]
              }
            },
            "value": {
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The extent to which calendar access is granted by this ACL rule.",
          "annotations": {
            "required": [
              "calendar.acl.insert",
              "calendar.acl.update"
            ]
          }
        },
        "kind": {
          "description": "Type of the resource (\"calendar#aclRule\").",
          "default": "calendar#aclRule",
          "type": "string"
        },
        "role": {
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role.",
          "annotations": {
            "required": [
              "calendar.acl.insert"
            ]
          },
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Access Control List (ACL) rule. See Sharing calendars."
        }
      }
    },
    "EventWorkingLocationProperties": {
      "id": "EventWorkingLocationProperties",
      "properties": {
        "customLocation": {
          "properties": {
            "label": {
              "description": "An optional extra label for additional information.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "If present, specifies that the user is working from a custom location."
        },
        "type": {
          "type": "string",
          "description": "Type of the working location. Possible values are:  \n- \"homeOffice\" - The user is working at home. \n- \"officeLocation\" - The user is working from an office. \n- \"customLocation\" - The user is working from a custom location.  Any details are specified in a sub-field of the specified name, but this field may be missing if empty. Any other fields are ignored.\nRequired when adding working location properties."
        },
        "homeOffice": {
          "type": "any",
          "description": "If present, specifies that the user is working at home."
        },
        "officeLocation": {
          "properties": {
            "buildingId": {
              "type": "string",
              "description": "An optional building identifier. This should reference a building ID in the organization's Resources database."
            },
            "floorSectionId": {
              "type": "string",
              "description": "An optional floor section identifier."
            },
            "label": {
              "description": "The office name that's displayed in Calendar Web and Mobile clients. We recommend you reference a building name in the organization's Resources database.",
              "type": "string"
            },
            "floorId": {
              "type": "string",
              "description": "An optional floor identifier."
            },
            "deskId": {
              "type": "string",
              "description": "An optional desk identifier."
            }
          },
          "type": "object",
          "description": "If present, specifies that the user is working from an office."
        }
      },
      "type": "object"
    },
    "ColorDefinition": {
      "type": "object",
      "id": "ColorDefinition",
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "description": "The foreground color that can be used to write on top of a background with 'background' color.",
          "type": "string"
        }
      }
    },
    "EventDateTime": {
      "type": "object",
      "id": "EventDateTime",
      "properties": {
        "timeZone": {
          "description": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end.",
          "type": "string"
        },
        "dateTime": {
          "description": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone.",
          "format": "date-time",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event.",
          "format": "date"
        }
      }
    },
    "FreeBusyCalendar": {
      "type": "object",
      "id": "FreeBusyCalendar",
      "properties": {
        "errors": {
          "description": "Optional error(s) (if computation for the calendar failed).",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "busy": {
          "description": "List of time ranges during which this calendar should be regarded as busy.",
          "items": {
            "$ref": "TimePeriod"
          },
          "type": "array"
        }
      }
    },
    "CalendarNotification": {
      "id": "CalendarNotification",
      "properties": {
        "method": {
          "description": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification.",
          "type": "string"
        },
        "type": {
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Events": {
      "type": "object",
      "id": "Events",
      "properties": {
        "updated": {
          "description": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only.",
          "format": "date-time",
          "type": "string"
        },
        "summary": {
          "description": "Title of the calendar. Read-only.",
          "type": "string"
        },
        "accessRole": {
          "type": "string",
          "description": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
        },
        "description": {
          "description": "Description of the calendar. Read-only.",
          "type": "string"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        },
        "timeZone": {
          "description": "The time zone of the calendar. Read-only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#events\").",
          "default": "calendar#events"
        },
        "items": {
          "type": "array",
          "description": "List of events on the calendar.",
          "items": {
            "$ref": "Event"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "defaultReminders": {
          "type": "array",
          "description": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True).",
          "items": {
            "$ref": "EventReminder"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        }
      }
    },
    "Calendar": {
      "type": "object",
      "id": "Calendar",
      "properties": {
        "conferenceProperties": {
          "$ref": "ConferenceProperties",
          "description": "Conferencing properties for this calendar, for example what types of conferences are allowed."
        },
        "summary": {
          "description": "Title of the calendar.",
          "annotations": {
            "required": [
              "calendar.calendars.insert"
            ]
          },
          "type": "string"
        },
        "autoAcceptInvitations": {
          "description": "Whether this calendar automatically accepts invitations. Only valid for resource calendars.",
          "type": "boolean"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        },
        "description": {
          "description": "Description of the calendar. Optional.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendar\").",
          "default": "calendar#calendar"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
        },
        "dataOwner": {
          "description": "The email of the owner of the calendar. Set only for secondary calendars. Read-only.",
          "type": "string"
        }
      }
    },
    "ConferenceRequestStatus": {
      "id": "ConferenceRequestStatus",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
        }
      },
      "type": "object"
    },
    "ConferenceSolutionKey": {
      "id": "ConferenceSolutionKey",
      "properties": {
        "type": {
          "type": "string",
          "description": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
        }
      },
      "type": "object"
    },
    "TimePeriod": {
      "id": "TimePeriod",
      "properties": {
        "end": {
          "type": "string",
          "description": "The (exclusive) end of the time period.",
          "format": "date-time"
        },
        "start": {
          "type": "string",
          "description": "The (inclusive) start of the time period.",
          "format": "date-time"
        }
      },
      "type": "object"
    },
    "ConferenceProperties": {
      "type": "object",
      "id": "ConferenceProperties",
      "properties": {
        "allowedConferenceSolutionTypes": {
          "description": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ConferenceParameters": {
      "id": "ConferenceParameters",
      "properties": {
        "addOnParameters": {
          "$ref": "ConferenceParametersAddOnParameters",
          "description": "Additional add-on specific data."
        }
      },
      "type": "object"
    },
    "ConferenceSolution": {
      "type": "object",
      "id": "ConferenceSolution",
      "properties": {
        "iconUri": {
          "description": "The user-visible icon for this solution.",
          "type": "string"
        },
        "key": {
          "$ref": "ConferenceSolutionKey",
          "description": "The key which can uniquely identify the conference solution for this event."
        },
        "name": {
          "type": "string",
          "description": "The user-visible name of this solution. Not localized."
        }
      }
    },
    "EventLabel": {
      "type": "object",
      "id": "EventLabel"
    },
    "Setting": {
      "type": "object",
      "id": "Setting",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The id of the user setting.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#setting\").",
          "default": "calendar#setting"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for the response.",
      "default": "json",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "title": "Calendar API",
  "resources": {
    "settings": {
      "methods": {
        "get": {
          "path": "users/me/settings/{setting}",
          "parameters": {
            "setting": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The id of the user setting."
            }
          },
          "parameterOrder": [
            "setting"
          ],
          "response": {
            "$ref": "Setting"
          },
          "description": "Returns a single user setting.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "id": "calendar.settings.get",
          "httpMethod": "GET"
        },
        "watch": {
          "supportsSubscription": true,
          "description": "Watch for changes to Settings resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "path": "users/me/settings/watch",
          "id": "calendar.settings.watch",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Channel"
          }
        },
        "list": {
          "description": "Returns all user settings for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "supportsSubscription": true,
          "id": "calendar.settings.list",
          "httpMethod": "GET",
          "path": "users/me/settings",
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Settings"
          }
        }
      }
    },
    "acl": {
      "methods": {
        "update": {
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean"
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.update",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Updates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "AclRule"
          }
        },
        "patch": {
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query"
            },
            "ruleId": {
              "type": "string",
              "required": true,
              "description": "ACL rule identifier.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "AclRule"
          },
          "id": "calendar.acl.patch",
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Updates an access control rule. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "AclRule"
          }
        },
        "list": {
          "supportsSubscription": true,
          "description": "Returns the rules in the access control list for the calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/acl",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Acl"
          }
        },
        "insert": {
          "id": "calendar.acl.insert",
          "response": {
            "$ref": "AclRule"
          },
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "type": "boolean"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AclRule"
          },
          "description": "Creates an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/acl"
        },
        "watch": {
          "description": "Watch for changes to ACL resources.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly"
          ],
          "supportsSubscription": true,
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "calendars/{calendarId}/acl/watch",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.watch",
          "parameters": {
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "calendarId": {
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "Channel"
          }
        },
        "get": {
          "response": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "description": "ACL rule identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "calendar.acl.get",
          "description": "Returns an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls",
            "https://www.googleapis.com/auth/calendar.acls.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.acls"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "ruleId": {
              "type": "string",
              "required": true,
              "description": "ACL rule identifier.",
              "location": "path"
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "delete": {
          "description": "Deletes an event.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "id": "calendar.events.delete",
          "httpMethod": "DELETE",
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameters": {
            "eventId": {
              "location": "path",
              "description": "Event identifier.",
              "type": "string",
              "required": true
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "sendUpdates": {
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the deletion of the event.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ]
        },
        "insert": {
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}/events",
          "httpMethod": "POST",
          "request": {
            "$ref": "Event"
          },
          "description": "Creates an event.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.app.created",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.owned"
          ],
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "maxAttendees": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "supportsAttachments": {
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "maximum": "1"
            },
            "sendUpdates": {
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. Warning: Using the value none can have significant adverse effects, including events not syncing to external calendars or events being lost altogether for some users. For calendar migration tasks, consider using the events.import method instead."
              ],
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "id": "calendar.events.insert"
        },
        "patch": {
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "supportsAttachments": {
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query"
            },
            "conferenceDataVersion": {
              "type": "integer",
              "minimum": "0",
              "maximum": "1",
              "location": "query",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "format": "int32"
            },
            "sendUpdates": {
              "type": "string",
              "location": "query",
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. For calendar migration tasks, consider using the Events.import method instead."
              ]
            },
            "eventId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Event identifier."
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "type": "boolean"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            }
          },
          "id": "calendar.events.patch",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Event"
          },
[...]
